<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Workshop Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>